<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @thesis.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @thesis.abstract %>
</p>

<p>
  <strong>Author:</strong>
  <%= if(@thesis.person)
        link_to @thesis.person.try!(:username), @thesis.person
      end %>
</p>

<p>
  <strong>Defended:</strong>
  <%= @thesis.defended %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @thesis.faculty.try!(:name) %>
</p>

<%= link_to 'Edit', edit_thesis_path(@thesis) %> |
<%= link_to 'Back', theses_path %>
